<a href="https://colab.research.google.com/github/tak595/Math-Refresher/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
import pandas as pd
import numpy as np
import csv
import json
import xml

#read the file
dataCsv = pd.read_csv("/content/tableconvert_csv_so70jx.csv")
dataJson = pd.io.json.read_json("/content/tableconvert_json_f0acan.json")
dataXml = pd.read_xml("/content/tableconvert_xml_1dxz8d.xml")

#print what is in the file
#print(dataCsv.describe())
#print(dataJson.describe())
#print(dataXml.describe())

convertJson = pd.DataFrame.to_json(dataCsv)
conVertCsv = pd.DataFrame.to_csv(dataXml)
convertXml = pd.DataFrame.to_xml(dataJson)

meanDataNp = np.mean(dataCsv)

thisArray = np.array([[11,22,33], [44,55,66]])
meanDataPandas = pd.DataFrame(thisArray, columns = ['Column 1','Column 2','Column 3'], index = ['Item 1', 'Item 2'])

print(meanDataNp)
print("\n")
meanDataPandas.describe()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3370: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

        Column 1   Column 2   Column 3
count   2.000000   2.000000   2.000000
mean   27.500000  38.500000  49.500000
std    23.334524  23.334524  23.334524
min    11.000000  22.000000  33.000000
25%    19.250000  30.250000  41.250000
50%    27.500000  38.500000  49.500000
75%    35.750000  46.750000  57.750000
max    44.000000  55.000000  66.000000