<a href="https://colab.research.google.com/github/tak595/Math-Refresher/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Read in the data
FlickrData = pd.read_csv('https://raw.githubusercontent.com/realpython/python-data-cleaning/master/Datasets/BL-Flickr-Images-Book.csv')

#print(FlickrData['Edition Statement'].isna().value_counts(dropna=False)/len(FlickrData))
#FlickrData.head()
#FlickrData.size
#FlickrData.tail()
#FlickrData['Edition Statement'].value_counts(dropna=False)
#FlickrData['Corporate Contributors'].value_counts(dropna=False)
#FlickrData['Former owner'].value_counts(dropna=False)

to_drop =['Edition Statement',
          'Corporate Author',
          'Corporate Contributors',
          'Former owner',
          'Engraver'
          ]


FlickrData.drop(to_drop, inplace=True, axis =1) #memory efficent (1)
#FlickrData['Identifier'].is_unique
#FlickrData = FlickrData.set_index('Identifier') # same thing as the one above but less efficient (2)
#FlickrData.head()
#FlickrData.loc[206]
FlickrData.set_index('Identifier', inplace=True)
#FlickrData.dtypes
#FlickrData.loc[1905:, 'Date of Publication'].head(10)

regex = r'^(\d{4})'

FlickrDataExtr = FlickrData['Date of Publication'].str.extract(regex, expand=False)

# How to change a column te in a data frame
FlickrData['Date of Publication'] = pd.to_numeric(FlickrDataExtr)

#FlickrData.dtypes

FlickrData['Date of Publication'].isnull().sum()/len(FlickrData)

#FlickrData['Date of Publication'].std()/FlickrData['Date of Publication'].mean()
FlickrData.head(15)

#.str

FlickrData_Pop = FlickrData['Place of Publication']

#FlickrData_Pop.head()
#print the percentage of images published in London
FlickrData_Pop.str.contains('London').value_counts()/len(FlickrData_Pop)
FlickrData['Place of Publication'].value_counts()
#Boolean map of all entries with London or not
london = FlickrData_Pop.str.contains('London')
oxford = FlickrData_Pop.str.contains('Oxford')
#Make all of the specified entry turn into the specified parameter of 'London' and 'Oxford'
FlickrData['Place of Publication'] = np.where(london, 'London', np.where(oxford, 'Oxford', FlickrData_Pop.str.replace('-',' '))) # the second parameter is what the data going to be changed into, also the - will be changed into " "

#FlickrData['Place of Publication'].value_counts()
#FlickrData['Place of Publication'].head(10)

Identifier
206    London
216    London
218    London
472    London
480    London
Name: Place of Publication, dtype: object

In [21]:
import pandas as pd
# creating an empty array
university_towns = []
# Open .txt file
with open('/content/university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
        # Remember this 'state' until the next is found
        state = line
    else:
        #otherwise, we have a city; keep 'state' as last-seen
        university_towns.append((state, line))

#university_towns[:10]

towns_df = pd.DataFrame(university_towns, columns =['State', 'RegionName'])

#towns_df['State'] = towns_df['State'].str.replace('\[edit\]\\n', '')
#towns_df['RegionName'] = towns_df['RegionName'].str.replace('\\n', '')

def get_citystate(item):
  if' (' in item:
    return item[:item.find(' (')+1]
  elif '[' in item:
    return item[:item.find('[')]
  else:
    return item

towns_df = towns_df.applymap(get_citystate)
towns_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo