<a href="https://colab.research.google.com/github/tak595/Math-Refresher/blob/main/Homework_One_Hot_Encoding_Assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
# creating an empty array
university_towns = []
# Open .txt file
with open('/content/university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
        # Remember this 'state' until the next is found
        state = line
    else:
        #otherwise, we have a city; keep 'state' as last-seen
        university_towns.append((state, line))

#university_towns[:10]

df = pd.DataFrame(university_towns, columns =['State', 'RegionName',])

#towns_df['State'] = towns_df['State'].str.replace('\[edit\]\\n', '')
#towns_df['RegionName'] = towns_df['RegionName'].str.replace('\\n', '')

def get_citystate(item):
  if' )' in item:
    return item[:item.find(' )')+1]
  elif '[' in item:
    return item[:item.find('[')]
  else:
    return item

df = df.applymap(get_citystate)
df.head()
# We want to use city and university to predict the state

#add the city, university and Misc columns by spliting region name
df[['City', 'University', 'Misc','Misc2']] = df.RegionName.str.split(" \(", expand=True)

df.drop(['RegionName','Misc','Misc2'], axis=1, inplace=True)
df.head().isnull()

df = df.dropna()

#df.info()

onehot_encoder = OneHotEncoder(sparse=False)

data_column_category = df.select_dtypes(exclude=[np.number]).columns
data_column_numeric = df.select_dtypes(include=[np.number]).columns

onehot_encoded = onehot_encoder.fit_transform(df[data_column_category])

onehot_encoded_frame = pd.DataFrame(onehot_encoded, columns = onehot_encoder.get_feature_names(data_column_category))

#LABEL ENCODING

#one method of one hot encoding
df_onehot_get_dummies = pd.get_dummies(df[data_column_category], prefix=data_column_category)

#label encoding as a step itself or as a precursor to One Hot encoding

label_encoder = LabelEncoder()
for i in data_column_category:

  df[i]=label_encoder.fit_transform(df[i])

towns_df[data_column_category]

towns_df.head(5)

             State  ...                           Misc2
190  Massachusetts  ...  Western New England College)\n
265     New Jersey  ...   College of Saint Elizabeth)\n
266     New Jersey  ...                        UMDNJ)\n

[3 rows x 4 columns]